

header {
  display: flex;
  justify-content: center;
  background-image: url(https://images.freeimages.com/images/large-previews/dfc/soccer-ball-1466760.jpg);
  color: white;
  margin-bottom: 2%;
}

.player-container {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.player-card {
  border: solid rgb(21, 47, 59) 1px;
  margin: 10px;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 150px;
  background-color: rgb(74, 188, 223);
}



form {
  display: flex;
  justify-content: center;
  margin-bottom: 1.5%;
}

input {
  margin-right: 1%
}

label {
  padding-right: 1%;
}

.form-button {
  margin-left: 0.5%;
  width: 80px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
}


